version: "3.9"
services:
  backend:
    image: silver-bot-backend-image
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8082:8080"
    networks:
      - app-net

  frontend:
    image: silver-bot-frontend-image
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8081:80"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
